# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# AWS
.aws/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDE
.idea/
.DS_Store

# dbt
dbt-project/target/
dbt-project/dbt_packages/
dbt-project/logs/
data/
